.update-card {
  background-color: #17191f;
  margin-left: 1040px;
  margin-top: -653px;
  border-radius: 10px;
  width: 380px;
  height: 640px;
}
.update-btn {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
  border: none;
  color: white;
  font-family: sans-serif;
  width: 100px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(138.12deg, #5c3fa4 10.85%, #a56bf3 97.05%);
}
.update-version {
  color: white;
  font-family: sans-serif;
  padding-left: 30px;
  font-size: 12px;
}
.update-card span {
  color: #808080;
}
.changelog-details {
  color: #808080;
  font-family: sans-serif;
  padding-left: 30px;
  font-size: 15px;
}
.update-card ul {
  margin-top: 30px;
}
.update-card ul li {
  padding-left: 10px;
  padding-bottom: 20px;
}
