.chart-div {
  background-color: #17191f;
  margin-left: 130px;
  margin-top: -665px;
  border-radius: 10px;
  width: 810px;
  height: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.chart {
  width: 790px;
  height: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}