.Nav {
  background-color: rgba(26, 29, 35, 0.67);
  width: 102px;
  margin-top: -54px;
  height: 100vh;
  -webkit-app-region: no-drag;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: -5px; */
  -webkit-app-region: drag;
  user-select: none;
  pointer-events: none;
}

/* .Nav svg {
  color: #808080 !important;
  padding-top: 40px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
} */
.nav-icons {
  /* background-color: red; */
  margin-top: 30px;
}

.nav-icons img {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 22px;
  cursor: pointer;
  margin-bottom: 50px;
}

.test {
  margin-left: 150px;
  margin-top: -700px;
  font-size: 20px;
  color: white;
  width: 150px;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-family: sans-serif;
}

.versionNum {
  font-family: sans-serif;
  font-size: 13px;
  color: #808080 !important;
  padding-top: 190px;
  padding-left: 30px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}