.footsites-card {
  background-color: #17191f;
  width: 220px;
  height: 140px;
  margin-left: 960px;
  margin-top: -300px;
  border-radius: 10px;
}
.footsites-card img {
  padding-top: 20px;
  padding-left: 20px;
}

.totalcheckout-foots-h1 {
  color: white;
  font-size: 30px;
  margin-top: -10px;
  padding-left: 90px;
  font-family: sans-serif;
}
.totalcheckout-foots-p {
  color: rgba(255, 255, 255, 0.43);
  font-family: sans-serif;
  padding-left: 50px;
  margin-top: -10px;
  font-size: 15px;
}
